html {
    font-size: 17px;
}

/* Overrides default background color */
.bg-primary {
    background-color: #4682B4 !important;
}

/* Sidebar Customization */
@media(min-width: 992px) {
    #sideNav:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/background.jpg");
        opacity: 0.1;
    }
}

/* Sidebar and Navbar Z-index customization */

#sideNav .navbar-brand,
#sideNav .navbar-collapse .navbar-nav,
.navbar-toggler,
#sideNav ul,
#sideNav ul li {
    z-index: 1050;
}

/* Sections Margin */
.resume-section {
    margin: 0 auto;
}