.highlight-container,
.highlight {
    position: relative;
}

.highlight-container {
    display: inline-block;
}

    .highlight-container:before,
    .highlight-container:after {
        content: ' ';
        display: block;
        height: 70%;
        width: 100%;
        margin-left: -3px;
        margin-right: -3px;
        position: absolute;
        opacity: .5;
    }

    .highlight-container:before {
        background: rgba(234, 221, 6, 0.9);
        transform: rotate(2deg);
        top: -1px;
        left: -1px;
    }

    .highlight-container:after {
        background: rgba(234, 210, 6, 0.6);
        top: 3px;
        right: -2px;
    }

.highlight {
    color: #333;
    z-index: 4;
}